.background1 {
    background: url('/public/images/ebd107f5-db0f-45ad-a4ad-aea169808a22-memory.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}